.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	transition: background-color 0.2s ease-in-out;
}

.overlay--after-open {
	background-color: rgba(50, 90, 92, 0.4);
}

.overlay--before-close {
	background-color: rgba(0, 0, 0, 0);
}

.modal {
	position: absolute;
	opacity: 0;

	width: 70vw;
	transition: opacity 0.2s ease-in-out;
}

.modal--after-open {
	opacity: 1;
}

.modal--before-close {
	opacity: 0;
}

.content {
	display: flex;
	justify-content: space-around;
	padding: 50px;
	background: white;
	border-radius: 40px;
}

.image_container {
	width: 50%;
	display: flex;
}

.image {
	max-width: 100%;
	max-height: 100%;
	object-fit: fill;
	border-radius: 40px;
}

.description {
	width: 50%;
	padding-left: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.title {
	margin: 12px 0px;
	font-size: 32px;
	color: #333;
}

.ingredients {
	color: #999;
}

.nutritional_value {
	display: flex;
	justify-content: space-around;
	margin: 18px 0px;
}

.nutritional_value_elem {
	background: #ebeaea;
	margin-right: 5px;
	font-size: 12px;
	padding: 12px;
	border-radius: 20px;
}

.tableau {
	display: flex;
	justify-content: space-between;
	border-radius: 20px;
	height: 100px;
	box-shadow: 0px 0px 20px #5555555b;
}

.prise_and_wight,
.adding {
	display: flex;
	align-items: center;
}

.adding {
	padding: 12px;
	margin: 25px;
	background: var(--main-color-light);
	border-radius: 20px;
	transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.price {
	color: #333;
	font-size: 24px;
	font-weight: bold;
	margin: 0px 20px;
}
.wight {
	color: #999;
}

.add_to_basket {
	font-size: 24px;
	margin: 0px 20px;
}

.basket {
	border-right: 1px #222 solid;
}

.adding:hover {
	color: white;
	background-color: var(--main-color);
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delete {
	color: white;
	margin: 30px;
	font-size: 26px;
	transition: color 0.12s ease-in-out;
}

.delete:hover {
	color: red;
}

.close {
	margin: 30px;
	color: white;
}

.modal:focus {
	outline: none;
}
