.container {
	display: flex;
	height: 80px;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;
}

.nav_menu {
	display: flex;
	width: 60vw;
}

.user {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 15vw;
}

.nav_menu_item {
	font-weight: bold;
	color: #333;
	margin-left: auto;
	text-decoration: none;
	transition: color 0.2s ease;
}
.nav_menu_item:hover {
	color: var(--main-color);
}

.nav_menu_item_active {
	font-weight: bold;
	color: var(--main-color);
	margin-left: auto;
	text-decoration: none;
	transition: color 0.2s ease;
}

.shopping_basket {
	text-decoration: none;
	display: flex;
	align-items: center;
	background-color: var(--main-color-light);
	border-radius: 30px;
	margin-left: 24px;
}

.price {
	color: white;
	background: var(--main-color);
	border-radius: 20px;
	margin: 0px 10px;
	padding: 2px 8px;
}

.login,
.shopping_cart {
	padding: 8px;
	color: #333;
	border-radius: 20px;
	transition: background 0.2s ease;
}
.login:hover,
.shopping_cart:hover {
	color: white;
	background: var(--main-color);
}
