.title {
	color: #333;
	margin: 40px;
	font-size: 30px;
	font-weight: bold;
}

.content {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 18px;
	justify-content: space-between;
}
