.header {
	display: flex;
	height: 65px;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #fff;
	border-radius: 20px;
	border-bottom: 1px solid #ccc;
}

.nav {
	height: 100%;
	display: flex;
	align-items: center;
	border-left: 1px black solid;
	border-right: 1px black solid;
}

.link {
	margin: 0 25px;
	text-decoration: none;
	color: #333;
	transition: color 0.2s ease;
}

.link:hover {
	color: var(--main-color);
}

.actions .phone,
.actions .cart {
	margin: 0px 20px;
	color: #007bff;
	text-decoration: none;
}

.actions {
	display: flex;
	align-items: center;
}

.phone {
	font-size: 18px;
}

.timer {
	color: rgb(171, 37, 242);

	font-size: 24px;
	font-weight: bold;
}
