.header {
	display: flex;
	height: 65px;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #fff;
	border-radius: 30px;
	border-bottom: 1px solid #ccc;
}

.logo {
	display: flex;
	align-items: center;
}

.logo__svg {
	margin-right: 15px;
	display: inline;
}

.nav {
	height: 100%;
	display: flex;
	align-items: center;
	border-left: 1px black solid;
	border-right: 1px black solid;
}

.nav a {
	margin: 0 15px;
	text-decoration: none;
	color: #333;
	transition: color 0.2s ease;
}

.nav a:hover {
	color: var(--main-color);
}

.actions .phone,
.actions .cart {
	margin-left: 20px;
	color: #007bff;
	text-decoration: none;
}
